!!!5
%html
    %head
        %title Hangman Game
        %meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
        %link(href="./dist/styles/styles.css" rel="stylesheet")
    %body
        .app
            .app__inner
                .missed-info
                    .missed-info__title= "You missed:"
                    .missed-info__letters= "BGSDFKSDJFSDFSD"
                .bar
                    .bar__inner
                        .man
                            .man__head
                                %img(src="./dist/imgs/head.png")
                                .man__neck
                                    .man__corpus
                                        .man__right-arm
                                            .man__right-hand
                                        .man__left-arm
                                            .man__left-hand
                                        .man__right-leg
                                            .man__right-foot
                                        .man__left-leg
                                            .man__left-foot

                .input-letters
                    :each item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                        /:if item < 5
                        .input-letters__item(class="input-letters__item--!{item}")
                            .input-letters__item-inner= "B"
            .corner-bg

            .modal
                .modal__start
                    .modal__start-title.modal__start-title--desktop= "Start typing<br>to play"
                    .modal__start-title.modal__start-title--mobile= "Touch to play"
                .modal__game-over
                    .game-over-title= "Game over"
                    %button.game-over-btn{type: "button"}= "New word"

        %script(src="./dist/js/app.js")
